---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>
        <Icon name="mdi:creative-commons" />
        <Icon name="mdi:account-arrow-right" />
      </span>
      <span class="separator">&nbsp;</span>
      <span
        >Licensed under <LinkButton
          href="https://creativecommons.org/licenses/by/4.0/"
          className="underline decoration-dashed underline-offset-4"
          >CC BY 4.0</LinkButton
        ></span
      >
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-between pb-6 sm:flex-row sm:pb-4"
  >
    <LinkButton
      href="https://icp.gov.moe/?keyword=20220708"
      className="underline decoration-dashed underline-offset-4"
      >萌ICP备20220708号</LinkButton
    >
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between pt-6 sm:flex-row-reverse sm:pt-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
