name: Check

on: [ pull_request ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install Node Packages
        run: yarn

      - name: Adhoc solution for package sharp
        run: yarn add sharp --ignore-engines

      - name: Astro check
        run: yarn astro check